{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
    - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
    - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
    - show_badge: {String} The setting either show the blog badge or not.
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
    <article id="" class="" aria-label="{{ article.title }}">
        <figure class="bg-light-gray relative overflow-hidden marquee-wrap rounded-lg ">
            <a href="{{ article.url }}">
                {% comment %}theme-check-disable{% endcomment %}
                <img
                    style="width: 760px; height: 567px;"
                    class="object-cover"
                    alt="{{ article.image.alt }}"
                    src="{{ article.image | image_url }}"
                    loading="lazy"
                    decoding="async"
                />
                {% comment %}theme-check-enable{% endcomment %}
            </a>

            <div class="marquee absolute top-[50%] opacity-0 transition-opacity pointer-events-none">
                <div class="inner relative w-full flex">
                    <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [{{ article.title | truncate: 50 | escape }}]</p>
                    <p class="text-eco-green uppercase whitespace-nowrap text-7xl">View [{{ article.title | truncate: 50 | escape }}]</p>
                </div>
            </div>
        </figure>
        <h3 class="uppercase text-xl md:text-2xl lg:text-3xl tracking-tighter mt-2">{{ article.title | truncate: 50 | escape }}</h3>
        <div class="flex items-start justify-between">
            <p class="uppercase text-sm max-w-[220px] lg:max-w-none">
                {%- if show_date -%}
                    <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span>
                {%- endif -%}
                {%- if show_author -%}
                    <span>{{ article.author }}</span>
                {%- endif -%}
            </p>
            {%- if show_badge -%}
                <div class="card__badge {{ settings.badge_position }}">
                    <span class="badge color-background-1">{{ 'blogs.article.blog' | t }}</span>
                </div>
            {%- endif -%}
        </div>
    </article>
{%- endif -%}
