<article data-cart-item class="flex items-center justify-between py-2 last:border-b border-t border-silver">
    <div class="w-[60%] xl:w-[65%] flex items-start md:items-center justify-start">

        {% if item.image %}
            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
            <a href="{{ item.url }}" aria-hidden="true" tabindex="-1">
                <img class="rounded object-contain" src="{{ item.image | image_url: width: 300 }}" style="width: 72px; height: 56px;" width="72" height="56" loading="lazy" alt="{{ item.image.alt | escape }}" decoding="async" />
            </a>
        {% endif %}

        <p class="md:flex justify-between uppercase text-xs ml-4 md:w-2/4">
            <a href="{{ item.url }}">
                <span class="block md:inline-block">{{ item.product.title | escape }}</span>
            </a>
            {% comment %}<span class="block md:inline-block">4.2 FL OZ</span>{% endcomment %}
            <a href="{{ item.url_to_remove }}" class="md:hidden mt-5 block uppercase text-xs ml-auto" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                    Remove
                </cart-remove-button>
            </a>
        </p>
    </div>
    <div class="w-[25%] xl:w-[20%] flex items-center">

        <!-- Quantity Input -->
        <quantity-input class="quantity flex relative border border-silver rounded p-[1px] text-xs md:text-sm">
            <button name="minus" data-cart-decrement class="quantity__button absolute left-0 w-10 h-10 hover:opacity-50 focus:opacity-50 transition-all" type="button">-</button>
            <input
                class="quantity__input text-center max-w-[100px] block my-0 mx-auto p-2 box-border"
                type="number"
                value="{{ item.quantity }}"
                name="updates[]"
                min="0"
                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                id="Quantity-{{ item.index | plus: 1 }}"
                data-index="{{ item.index | plus: 1 }}"
            />
            <button data-cart-increment class="quantity__button absolute hover:opacity-50 focus:opacity-50 transition-all right-0 w-10 h-10" name="plus" type="button">+</button>
        </quantity-input>
        <!-- Remove Button -->
        <a href="{{ item.url_to_remove }}" class="hidden md:inline-block uppercase text-xs ml-auto" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
            <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                Remove
            </cart-remove-button>
        </a>
    </div>
    <div class="w-[15%] text-right text-sm">
        <div class="cart-item__totals">
            <div class="loading-overlay hidden">
                <div class="loading-overlay__spinner">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                </div>
            </div>
            <div class="cart-item__price-wrapper">
                {%- if item.original_line_price != item.final_line_price -%}
                    <dl class="cart-item__discounted-prices">
                        <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                        </dt>
                        <dd>
                            <s class="cart-item__old-price price price--end mt-0">
                                {{ item.original_line_price | money }}
                            </s>
                        </dd>
                        <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                        </dt>
                        <dd class="price price--end mt-0">
                            {{ item.final_line_price | money }}
                        </dd>
                    </dl>
                {%- else -%}
                    <span class="price price--end mt-0">
                        {{ item.original_line_price | money }}
                    </span>
                {%- endif -%}
            </div>
        </div>
        <!-- Single Item Price -->
        {% comment %}
        {%- if item.original_price != item.final_price -%}
            <div>
                <span class="visually-hidden">
                    {{ 'products.product.price.regular_price' | t }}
                </span>
                <s >
                    {{- item.original_price | money -}}
                </s>
                <span class="visually-hidden">
                    {{ 'products.product.price.sale_price' | t }}
                </span>
                <strong>
                    {{ item.final_price | money }}
                </strong>
            </div>
        {%- else -%}
            <div>
                {{ item.original_price | money }}
            </div>
        {%- endif -%}
        {% endcomment %}
    </div>
</article>

