<article class="flex flex-row pb-6 border-b border-silver md:pb-0 md:border-0">
    <figure class="basis-3/6">
        <a class="thumbnail" href="{{ article.url }}">
            <img
                    class="rounded-lg object-cover h-[200px] w-[372px] md:h-[230px] lg:h-[263px]"
                    src="{{ article.image | image_url }}"
                    width="372" height="263"
                    alt="{{ article.image.alt }}"
                    loading="lazy"
                    decoding="async"
            />
        </a>
    </figure>
    <div class="relative ml-4 basis-3/6">
        <a href="{{ article.url }}">
            <h3 class="uppercase text-sm font-semibold md:font-normal md:text-xl leading-none lg:text-2xl xl:text-3xl md:max-w-[344px] inline-block">
                {{ article.title }}
            </h3>
        </a>
        <div class="absolute bottom-0 left-0 justify-between w-full md:flex xl:justify-start">
            <span class="block text-xs font-semibold uppercase sm:text-sm">Article</span>
            <time class="block text-xs uppercase sm:text-sm md:ml-2">
                {% if show_date %}
                    [  {{ article.published_at | date: format: 'abbreviated_date' }}  ]
                {% endif %}
            </time>
        </div>
    </div>
</article>
