{% comment %}
    Renders the sign up form

    Usage:
    {% render 'sign-up-form' %}
{% endcomment %}

{%- form 'create_customer', novalidate: 'novalidate', class: "max-w-[695px] customer register" -%}

    <svg style="display: none">
        <symbol id="icon-error" viewBox="0 0 13 13">
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"/>
        </symbol>
    </svg>

    <!-- Form Errors -->
    {%- if form.errors -%}
        <h2 class="form__message" tabindex="-1" autofocus>
            <svg class="h-5 w-5" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-error" />
            </svg>
            {{ 'templates.contact.form.error_heading' | t }}
        </h2>
        <ul>
            {%- for field in form.errors -%}
                <li>
                    {%- if field == 'form' -%}
                        {{ form.errors.messages[field] }}
                    {%- else -%}
                        <a href="#RegisterForm-{{ field }}">
                            {{ form.errors.translated_fields[field] | capitalize }}
                            {{ form.errors.messages[field] }}
                        </a>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}

    <fieldset>
        <legend class="text-sm">
            <p class="mt-8 mb-10 font-normal max-w-[300]">Please enter your details below to create an account.</p>
        </legend>
        <div class="block w-full mb-8">
            <label for="RegisterForm-FirstName">
                <span class="block uppercase text-xs mb-1.5 text-cod-gray">{{ 'customer.register.first_name' | t }}*</span>
                <input
                        class="border border-silver p-1.5 hover:border-[#000] focus:border-[#000] text-[#000] outline-none block w-full rounded transition-all"
                        type="email"
                        name="customer[first_name]"
                        id="RegisterForm-FirstName"
                        required
                        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
                        autocomplete="given-name"
                />
            </label>
        </div>

        <div class="block w-full mb-8">
            <label for="RegisterForm-LastName">
                <span class="block uppercase text-xs mb-1.5 text-cod-gray">{{ 'customer.register.last_name' | t }}*</span>
                <input
                        class="border border-silver p-1.5 hover:border-[#000] focus:border-[#000] text-[#000] outline-none block w-full rounded transition-all"
                        required
                        type="text"
                        name="customer[last_name]"
                        id="RegisterForm-LastName"
                        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
                        autocomplete="family-name"
                />
            </label>
        </div>

        <div class="block w-full mb-8">
            <label for="RegisterForm-email">
                <span class="block uppercase text-xs mb-1.5 text-cod-gray">{{ 'customer.register.email' | t }}*</span>
                <input
                        class="border border-silver p-1.5 hover:border-[#000] focus:border-[#000] text-[#000] outline-none block w-full rounded transition-all"
                        type="email"
                        name="customer[email]"
                        id="RegisterForm-email"
                        {% if form.email %} value="{{ form.email }}"{% endif %}
                        spellcheck="false"
                        autocapitalize="off"
                        autocomplete="email"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                            aria-invalid="true"
                            aria-describedby="RegisterForm-email-error"
                        {% endif %}
                        required
                />
            </label>
        </div>
        {%- if form.errors contains 'email' -%}
            <span id="RegisterForm-email-error" class="form__message">
                <svg class="w-5 h-5" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-error" />
                </svg>
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
            </span>
        {%- endif -%}


        <div class="block w-full mb-8">
            <label for="RegisterForm-password">
                <span class="block uppercase text-xs mb-1.5 text-cod-gray">{{ 'customer.register.password' | t }}*</span>
                <input
                        class="border border-silver hover:border-[#000] focus:border-[#000] text-[#000] outline-none p-1.5 block w-full rounded transition-all"
                        required
                        type="password"
                        name="customer[password]"
                        id="RegisterForm-password"
                        aria-required="true"
                        {% if form.errors contains 'password' %}
                            aria-invalid="true"
                            aria-describedby="RegisterForm-password-error"
                        {% endif %}
                />
            </label>
        </div>
        {%- if form.errors contains 'password' -%}
            <span id="RegisterForm-password-error" class="form__message">
                <svg class="h-5 w-5" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-error" />
                </svg>
                {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
            </span>
        {%- endif -%}
        <div class="md:flex justify-between items-center">
            <label class="checkbox-container text-cod-gray">
                <input type="hidden" name="customer[accepts_marketing]" value="" />
                <input type="checkbox" name="customer[accepts_marketing]" checked="checked" />
                <span class="checkmark"></span>
                <span class="text-xs uppercase leading-normal">Subscribe to Newsletter</span>
            </label>

            <button class="bg-eco-green mt-7 md:mt-0 text-[#fff] text-xs py-3 px-4 rounded hover:bg-forest-green uppercase" type="submit">
                Create account
            </button>
        </div>
    </fieldset>
{% endform %}

