{%- if card_product and card_product != empty -%}
    <!-- Card wrapper for hover effects -->
    <article id="" class="card-wrapper" aria-label="Sneaker Wipes">
        <!-- product card -->
            <figure class="relative overflow-hidden rounded-lg bg-light-gray marquee-wrap">
                <a href="{{ card_product.url }}">
                    {%- if card_product.featured_media -%}
                        <img
                            src="{{ card_product.featured_media | image_url: width: 760 }}"
                            alt="{{ card_product.featured_media.alt | escape }}"
                            width="760"
                            height="567"
                            class="object-contain motion-reduce h-[400px] w-[760px] md:h-[567px]"
                            loading="lazy"
                            decoding="async"
                        >
                    {%- else -%}
                        <img
                            class="rounded-lg"
                            alt="SneakerLab Product 3"
                            src="{{ '760x567.jpg' | asset_url }}"
                            width="760"
                            height="567"
                            loading="lazy"
                            decoding="async"
                        />
                    {%- endif -%}
                </a>

                <div class="marquee2 absolute top-[50%] opacity-0 transition-opacity pointer-events-none">
                    <div class="relative flex w-full inner">
                        <p class="uppercase text-eco-green whitespace-nowrap text-7xl">View [{{ card_product.title | escape }}]</p>
                        <p class="uppercase text-eco-green whitespace-nowrap text-7xl">View [{{ card_product.title | escape }}]</p>
                    </div>
                </div>
            </figure>

        <div class="font-medium lg:px-2">
            <div>
                <a class="inline-block" href="{{ card_product.url }}">
                    <h3 class="mt-2 text-xl tracking-tighter uppercase md:text-2xl lg:text-3xl">{{ card_product.title | escape }}</h3>
                </a>
            </div>
            <div class="flex items-start justify-between">
                <p class="uppercase text-xs md:text-sm max-w-[220] lg:max-w-none">{{ card_product.metafields.descriptors.subtitle | escape }}</p>
                {% render 'new-price' product: card_product %}
            </div>
        </div>
    </article>
{%- endif -%}
