
<script src="{{ 'customer.js' | asset_url }}" defer></script>

<style>
    .addresses [aria-expanded='true'] ~ div[id] {
        display: block;
    }
    .addresses [aria-expanded='false'] ~ div[id] {
        display: none;
    }
</style>

<div class="customer order grid md:grid-cols-12 gap-4 xl:container xl:mx-auto mt-10 md:mt-20 mb-60">

{%- paginate customer.addresses by 5 -%}
    <div class="md:col-span-3">
        <!-- Page heading and return link -->
        <h1 class="text-xs md:text-sm uppercase mb-10">[&nbsp;&nbsp;{{ 'customer.addresses.title' | t }}&nbsp;&nbsp;]</h1>
        <a href="{{ routes.account_url }}">
            {{ 'customer.account.return' | t }}
        </a>
    </div>
    <div class="md:col-span-9">
        <!-- Add and manage Addresses -->
        <div class="customer addresses" data-customer-addresses>
        <svg style="display: none;">
            <symbol id="icon-caret" viewBox="0 0 10 6">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                      fill="currentColor">
            </symbol>
        </svg>


        <div data-address>
            <!-- Add new address button -->
            <button
                    class="mb-8"
                    type="button"
                    aria-expanded="false"
                    aria-controls="AddAddress"
            >
                {{ 'customer.addresses.add_new' | t }}
            </button>

            <div id="AddAddress" class="mb-8 max-w-[695px]">
                {% comment %}<h2 id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>{% endcomment %}
                {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                    <div class="field block w-full mb-8">
                        <label class="block uppercase text-xs mb-1.5 text-cod-gray" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                        <input
                            type="text"
                            id="AddressFirstNameNew"
                            name="address[first_name]"
                            value="{{ form.first_name }}"
                            autocomplete="given-name"
                            class="border border-silver p-1.5 hover:border-[#000] focus:border-[#000] text-[#000] outline-none block w-full rounded transition-all"
                        >
                    </div>

                    <div class="field block w-full mb-8">
                        <label
                            class="block uppercase text-xs mb-1.5 text-cod-gray"
                            for="AddressLastNameNew"
                        >
                            {{ 'customer.addresses.last_name' | t }}
                        </label>
                        <input
                            type="text"
                            id="AddressLastNameNew"
                            name="address[last_name]"
                            value="{{ form.last_name }}"
                            autocomplete="family-name"
                            class="border border-silver text-[#000] p-1.5 hover:border-[#000] focus:border-[#000] outline-none block w-full rounded transition-all"
                        >
                    </div>

                    <div class="field block w-full mb-8">
                        <label
                            for="AddressCompanyNew"
                            class="block uppercase text-xs mb-1.5 text-cod-gray"
                        >
                            {{ 'customer.addresses.company' | t }}
                        </label>
                        <input
                            type="text"
                            id="AddressCompanyNew"
                            name="address[company]"
                            value="{{ form.company }}"
                            autocomplete="organization"
                            class="border border-silver text-[#000] p-1.5 hover:border-[#000] focus:border-[#000] outline-none block w-full rounded transition-all"
                        >
                    </div>

                    <div class="field block w-full mb-8">
                        <label
                            class="block uppercase text-xs mb-1.5 text-cod-gray"
                            for="AddressAddress1New"
                        >
                            {{ 'customer.addresses.address1' | t }}
                        </label>
                        <input
                            type="text"
                            id="AddressAddress1New"
                            name="address[address1]"
                            value="{{ form.address1 }}"
                            autocomplete="address-line1"
                            class="border border-silver text-[#000] p-1.5 hover:border-[#000] focus:border-[#000] outline-none block w-full rounded transition-all"
                        >
                    </div>

                    <div class="field block w-full mb-8">
                        <label
                            class="block uppercase text-xs mb-1.5 text-cod-gray"
                            for="AddressAddress2New"
                        >
                            {{ 'customer.addresses.address2' | t }}
                        </label>
                        <input
                            type="text"
                            id="AddressAddress2New"
                            name="address[address2]"
                            value="{{ form.address2 }}"
                            autocomplete="address-line2"
                            class="border border-silver text-[#000] p-1.5 hover:border-[#000] focus:border-[#000] outline-none block w-full rounded transition-all"
                        >
                    </div>

                    <div class="field block w-full mb-8">
                        <label
                            class="block uppercase text-xs mb-1.5 text-cod-gray"
                            for="AddressCityNew"
                        >
                            {{ 'customer.addresses.city' | t }}
                        </label>
                        <input
                            type="text"
                            id="AddressCityNew"
                            name="address[city]"
                            value="{{ form.city }}"
                            autocomplete="address-level2"
                            class="border border-silver text-[#000] p-1.5 hover:border-[#000] focus:border-[#000] outline-none block w-full rounded transition-all"
                        >
                    </div>

                    <div class="block w-full mb-8">
                        <label
                            class="block uppercase text-xs mb-1.5 text-cod-gray"
                            for="AddressCountryNew"
                        >
                            {{ 'customer.addresses.country' | t }}
                        </label>
                        <div class="select">
                            <select
                                id="AddressCountryNew"
                                name="address[country]"
                                data-default="{{ form.country }}"
                                autocomplete="country"
                                class="border border-silver text-[#000] p-1.5 hover:border-[#000] focus:border-[#000] outline-none block w-full rounded transition-all"
                            >
                                {{ all_country_option_tags }}
                            </select>
                            {% comment %}<svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">{% endcomment %}
                                {% comment %}<use href="#icon-caret"/>{% endcomment %}
                            {% comment %}</svg>{% endcomment %}
                        </div>
                    </div>

                    <div id="AddressProvinceContainerNew" style="display: none">
                        <label
                            class="block uppercase text-xs mb-1.5 text-cod-gray"
                            for="AddressProvinceNew"
                        >
                            {{ 'customer.addresses.province' | t }}
                        </label>
                        <div class="select">
                            <select
                                id="AddressProvinceNew"
                                name="address[province]"
                                data-default="{{ form.province }}"
                                autocomplete="address-level1"
                                class="border border-silver text-[#000] p-1.5 hover:border-[#000] focus:border-[#000] outline-none block w-full rounded transition-all"
                            >
                            </select>
                            {% comment %}<svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">{% endcomment %}
                                {% comment %}<use href="#icon-caret"/>{% endcomment %}
                            {% comment %}</svg>{% endcomment %}
                        </div>
                    </div>

                    <div class="field block w-full mb-8">
                        <label
                            class="block uppercase text-xs mb-1.5 text-cod-gray"
                            for="AddressZipNew"
                        >
                            {{ 'customer.addresses.zip' | t }}
                        </label>
                        <input
                            type="text"
                            id="AddressZipNew"
                            name="address[zip]"
                            value="{{ form.zip }}"
                            autocapitalize="characters"
                            autocomplete="postal-code"
                            class="border border-silver text-[#000] p-1.5 hover:border-[#000] focus:border-[#000] outline-none block w-full rounded transition-all"
                        >
                    </div>

                    <div class="field block w-full mb-8">
                        <label
                            class="block uppercase text-xs mb-1.5 text-cod-gray"
                            for="AddressPhoneNew"
                        >
                            {{ 'customer.addresses.phone' | t }}
                        </label>
                        <input
                            type="tel"
                            id="AddressPhoneNew"
                            name="address[phone]"
                            value="{{ form.phone }}"
                            autocomplete="tel"
                            class="border border-silver text-[#000] p-1.5 hover:border-[#000] focus:border-[#000] outline-none block w-full rounded transition-all"
                        >
                    </div>

                    <div class="mb-8" style="accent-color: black;">
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                    </div>

                    <div class="mb-8 flex justify-between items-center">
                        <button type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                        <button>{{ 'customer.addresses.add' | t }}</button>
                    </div>
                {%- endform -%}
            </div>
        </div>

        <ul role="list">
            {%- for address in customer.addresses -%}
                <li data-address>
                    {%- if address == customer.default_address -%}
                        <h2 class="uppercase text-xs md:text-sm font-semibold mb-4">{{ 'customer.addresses.default' | t }}</h2>
                    {%- endif -%}
                    {{ address | format_address }}
                    <button
                            type="button"
                            id="EditFormButton_{{ address.id }}"
                            aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                            aria-controls="EditAddress_{{ address.id }}"
                            aria-expanded="false"
                            data-address-id="{{ address.id }}"
                    >
                        {{ 'customer.addresses.edit' | t }}
                    </button>
                    <button
                            type="button"
                            aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                            data-target="{{ address.url }}"
                            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                    >
                        {{ 'customer.addresses.delete' | t }}
                    </button>
                    <div id="EditAddress_{{ address.id }}">
                        <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
                        {%- form 'customer_address', address -%}
                            <div class="field">
                                <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]"
                                       value="{{ form.first_name }}" autocomplete="given-name"
                                       placeholder="{{ 'customer.addresses.first_name' | t }}">
                                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                            </div>
                            <div class="field">
                                <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]"
                                       value="{{ form.last_name }}" autocomplete="family-name"
                                       placeholder="{{ 'customer.addresses.last_name' | t }}">
                                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                            </div>
                            <div class="field">
                                <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]"
                                       value="{{ form.company }}" autocomplete="organization"
                                       placeholder="{{ 'customer.addresses.company' | t }}">
                                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                            </div>
                            <div class="field">
                                <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]"
                                       value="{{ form.address1 }}" autocomplete="address-line1"
                                       placeholder="{{ 'customer.addresses.address1' | t }}">
                                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                            </div>
                            <div class="field">
                                <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]"
                                       value="{{ form.address2 }}" autocomplete="address-line2"
                                       placeholder="{{ 'customer.addresses.address2' | t }}">
                                <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                            </div>
                            <div class="field">
                                <input type="text" id="AddressCity_{{ form.id }}" name="address[city]"
                                       value="{{ form.city }}" autocomplete="address-level2"
                                       placeholder="{{ 'customer.addresses.city' | t }}">
                                <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                            </div>
                            <div>
                                <label for="AddressCountry_{{ form.id }}">
                                    {{ 'customer.addresses.country' | t }}
                                </label>
                                <div class="select">
                                    <select
                                            id="AddressCountry_{{ form.id }}"
                                            name="address[country]"
                                            data-address-country-select
                                            data-default="{{ form.country }}"
                                            data-form-id="{{ form.id }}"
                                            autocomplete="country"
                                    >
                                        {{ all_country_option_tags }}
                                    </select>
                                    {% comment %}<svg class="h-6 w-6" aria-hidden="true" focusable="false" viewBox="0 0 10 6">{% endcomment %}
                                        {% comment %}<use href="#icon-caret"/>{% endcomment %}
                                    {% comment %}</svg>{% endcomment %}
                                </div>
                            </div>
                            <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                                <label for="AddressProvince_{{ form.id }}">
                                    {{ 'customer.addresses.province' | t }}
                                </label>
                                <div class="select">
                                    <select
                                            id="AddressProvince_{{ form.id }}"
                                            name="address[province]"
                                            data-default="{{ form.province }}"
                                            autocomplete="address-level1"
                                    >
                                    </select>
                                    {% comment %}<svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">{% endcomment %}
                                        {% comment %}<use href="#icon-caret"/>{% endcomment %}
                                    {% comment %}</svg>{% endcomment %}
                                </div>
                            </div>
                            <div class="field">
                                <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]"
                                       value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code"
                                       placeholder="{{ 'customer.addresses.zip' | t }}">
                                <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                            </div>
                            <div class="field">
                                <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]"
                                       value="{{ form.phone }}" autocomplete="tel"
                                       placeholder="{{ 'customer.addresses.phone' | t }}">
                                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                            </div>
                            <div>
                                {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_{{ form.id }}">
                                    {{ 'customer.addresses.set_default' | t }}
                                </label>
                            </div>
                            <div>
                                <button>{{ 'customer.addresses.update' | t }}</button>
                                <button type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                            </div>
                        {%- endform -%}
                    </div>
                </li>
            {%- endfor -%}
        </ul>

        {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
                <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                    <ul role="list">
                        {%- if paginate.previous -%}
                            <li>
                                <a href="{{ paginate.previous.url }}"
                                   aria-label="{{ 'general.pagination.previous' | t }}">
                                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                              fill="currentColor">
                                    </svg>
                                </a>
                            </li>
                        {%- endif -%}

                        {%- for part in paginate.parts -%}
                            <li>
                                {%- if part.is_link -%}
                                    <a href="{{ part.url }}"
                                       aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                                {%- else -%}
                                    {%- if part.title == paginate.current_page -%}
                                        <span aria-current="page"
                                              aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                                    {%- else -%}
                                        <span>{{ part.title }}</span>
                                    {%- endif -%}
                                {%- endif -%}
                            </li>
                        {%- endfor -%}

                        {%- if paginate.next -%}
                            <li>
                                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                                              fill="currentColor">
                                    </svg>
                                </a>
                            </li>
                        {%- endif -%}
                    </ul>
                </nav>
            {%- endif -%}
        {%- endif -%}
    </div>
    </div>
{%- endpaginate -%}

<script>
    window.onload = () => {
        typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    }
</script>
