<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% render 'head' %}

    <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {% if page_title == 'About' %}
        {%- liquid
            assign color_scheme = 'page-inverted'
        %}
    {% endif %}

    {%- unless settings.type_body_font.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.type_header_font.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
        <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        if (Shopify.designMode) {
            document.documentElement.classList.add('shopify-design-mode');
        }
    </script>
</head>

<body class="flex flex-col min-h-screen font-raleway {% echo color_scheme %}">
    {% section 'announcement-bar' %}
    {% section 'test-header' %}

    <main id="main-content" class="xl:container xl:mx-auto px-4 lg:px-5" role="main" aria-label="Main Site Content">
        {{ content_for_layout }}
    </main>

    {% section 'test-footer' %}
    {% section 'foot' %}
    <script>
        const Marquee = () => {
            const elements = document.querySelectorAll('.marquee')
            const lastScrollPos = 0
            let speed = 3
            let timer

            elements.forEach(function (el) {
                const container = el.querySelector('.inner')
                const content = el.querySelector('.inner > *')
                const style = window.getComputedStyle(content);
                const margin = parseFloat(style.marginLeft) + parseFloat(style.marginRight);

                const elWidth = content.offsetWidth + margin;
                console.log(elWidth);


                const clone = content.cloneNode(true)
                container.appendChild(clone)

                let progress = 1
                function loop () {
                    progress = progress - speed
                    if (progress <= elWidth * -1) {
                        progress = 0
                    }

                    container.style.transform = 'translateX(' + progress + 'px)'
                    container.style.transform += 'skewX(' + speed * 0.4 + 'deg)'
                    window.requestAnimationFrame(loop)
                }

                loop()
            })

            window.addEventListener('scroll', function () {
                const maxScrollValue = 12
                const newScrollPos = window.scrollY
                let scrollValue = newScrollPos - lastScrollPos
                if (scrollValue > maxScrollValue) scrollValue = maxScrollValue
                else if (scrollValue < -maxScrollValue) scrollValue = -maxScrollValue
                speed = scrollValue
                clearTimeout(timer)
                timer = setTimeout(handleSpeedClear, 10)
            })

            function handleSpeedClear () {
                speed = 2
            }
        }

        Marquee()

    </script>
</body>
</html>
