{% comment %}
    Renders markup for featured stories grid.
{% endcomment %}

{% if blog.handle %}
    {%- liquid
        assign featured_more = 'More'
    -%}
    {% if blog.handle == 'how-to' %}
        {%- liquid
            assign name = 'How To'
            assign type = blog.handle
        -%}
    {% endif %}

    {% if blog.handle == 'stories' %}
        {%- liquid
            assign name = 'Stories'
            assign type = blog.handle
        -%}
    {% endif %}

    {% if blog.handle == 'collaborations' %}
        {%- liquid
            assign name = 'Collaboration'
            assign type = blog.handle
        -%}
    {% endif %}

{% else %}
    {%- liquid
        assign featured_more = 'Featured'
        assign name = 'Stories'
        assign type = 'stories'
    -%}
{% endif %}

<section class="mb-6 xl:container xl:mx-auto">
    <h2 class="mb-5 text-sm font-medium uppercase">[ &nbsp;&nbsp;{{ featured_more }} {{ name }}'s&nbsp;&nbsp; ]</h2>
    <header class="relative flex items-center justify-between">
        <button data-filter-trigger class="relative text-5xl font-medium tracking-tighter uppercase transition-all hover:opacity-50" type="button" aria-expanded="false" aria-controls="filter-dropdown">Filter+</button>

        <a class="md:block button hidden rounded py-3 px-12 leading-[1] font-medium text-sm border border-silver hover:border-[#000] focus:border-[#000] transition-all" href="/blogs/{{ type }}">
            View all <span class="lowercase">{{ name }}'s</span>
        </a>

        <div class="top-[100%] filter-dropdown absolute invisible opacity-0 pointer-events-none z-10 bg-[#fff]/70 backdrop-blur w-full left-0 p-5 -bottom-72" aria-hidden="true" id="filter-dropdown">
            <ul>
                <li class="text-5xl uppercase font-medium text-[#000]">
                    <a role="button" class="transition-all filter-item hover:opacity-50 focus:opacity-50" href="/pages/blog/">
                        All,
                    </a>
                </li>
                <li class="text-5xl uppercase font-medium text-[#818181]">
                    <a role="button" class="transition-all filter-item hover:opacity-50 focus:opacity-50" href="/blogs/stories/">
                        Articles,
                    </a>
                </li>
                <li class="text-5xl uppercase font-medium text-[#818181]">
                    <a role="button" class="transition-all filter-item hover:opacity-50 focus:opacity-50" href="/blogs/interviews/">
                        Interviews,
                    </a>
                </li>
                <li class="text-5xl uppercase font-medium text-[#818181]">
                    <a role="button" class="transition-all filter-item hover:opacity-50 focus:opacity-50" href="/blogs/how-to/">
                        Videos
                    </a>
                </li>
            </ul>
        </div>
    </header>
    {% comment %}theme-check-disable{% endcomment %}

    {%- liquid assign blogs = blogs[type].articles %}
    {% comment %}theme-check-enable{% endcomment %}
    {% for article in blogs limit: 4 %}
        {%- liquid
            assign modulus = forloop.index | modulo: 2
        %}
        {% if modulus == 1 %}
            <div class="grid gap-4 pt-6 mt-6 mb-6 border-t bg-grey md:grid-cols-2 border-silver">
        {% endif %}
            <article class="flex flex-row ">
                <figure class="basis-3/6">
                    <a class="thumbnail" href="{{ article.url }}">
                        {% if article.image %}
                            <img class="rounded-lg" alt="{{ article.image.alt }}" src="{{ article.image | image_url: width: '372px', height: '263px' }}" width="372" height="263" decoding="async" loading="lazy" />
                        {% else %}
                            <img class="rounded-lg" alt="Featured Story 1" src="{{ '372x263.jpg' | asset_url }}" width="372" height="263" decoding="async" loading="lazy" />
                        {% endif %}
                    </a>
                </figure>
                <div class="relative ml-4 basis-3/6">
                    <h3 class="uppercase text-xl leading-[0.95] md:leading-none font-medium tracking-tighter lg:text-2xl xl:text-3xl md:max-w-[344]">
                        {{ article.title }}
                    </h3>
                    <div class="absolute bottom-0 left-0 justify-between w-full xs:flex xl:justify-start">
                        <span class="block text-xs font-semibold uppercase xs:text-sm">Article</span>
                        <time class="block text-xs font-medium uppercase xs:text-sm xs:ml-2">[ &nbsp;&nbsp;{{ article.published_at | date: format: 'abbreviated_date' }}&nbsp;&nbsp; ]</time>
                    </div>
                </div>
            </article>
        {% if modulus == 0 %}
            </div>
        {% endif %}
    {% endfor %}

    <a class="inline-block px-12 py-3 text-sm font-medium border rounded md:hidden border-silver" href="/blogs/{{ type }}">
        View all {{ type }}
    </a>
</section>

<script>
    const FeaturedStoriesFilter = () => {
        const trigger = document.querySelector('[data-filter-trigger]');
        const panel = document.getElementById('filter-dropdown');

        trigger && trigger.addEventListener('click', () => {
            if (!panel.classList.contains('filter-active')) {
                trigger.innerHTML = 'Filter-'
                trigger.classList.add('focus:opacity-50');
                trigger.setAttribute('aria-expanded', 'true')
                panel.setAttribute('aria-hidden', 'false')
                panel.classList.add('filter-active')
            } else {
                trigger.innerHTML = 'Filter+'
                trigger.classList.remove('focus:opacity-50');
                trigger.setAttribute('aria-expanded', 'false')
                panel.setAttribute('aria-hidden', 'true')
                panel.classList.remove('filter-active')
            }
        })

        document.addEventListener('keydown', (e) => {
            if (e.key === 'Escape') {
                trigger.innerHTML = 'Filter+'
                trigger.setAttribute('aria-expanded', 'false')
                panel.setAttribute('aria-hidden', 'true')
                panel.classList.remove('filter-active')
            }
        })

        document.addEventListener('mousedown', (e) => {
            if (!panel.contains(e.target) && e.target !== trigger) {
                trigger.innerHTML = 'Filter+'
                trigger.setAttribute('aria-expanded', 'false')
                panel.setAttribute('aria-hidden', 'true')
                panel.classList.remove('filter-active')
            }
        })
    }

    FeaturedStoriesFilter()
</script>

{% schema %}
{
  "name": "Featured Stories"
}
{% endschema %}
