{% comment %}
    Renders markup for collaborations section.
{% endcomment %}

<section class="xl:container xl:mx-auto mb-36">
  <h2 class="uppercase text-sm mb-5">
    [ {{ section.settings.collaborations_title }} <sup>{{ section.settings.collaborations_count }}</sup> ]
  </h2>
  <div class="grid md:grid-cols-12 gap-4">
    <!-- Large Featured Collaboration -->
    <article class="md:col-span-6">
      <figure class="relative overflow-hidden marquee-wrap">
        {% if section.settings.collaborations_large_featured_article %}
          <a href="{{ section.settings.collaborations_large_featured_article.url }}">
            <img
                src="{{ section.settings.collaborations_large_featured_article.image.src | image_url }}"
                alt="{{ section.settings.collaborations_large_featured_article.image.alt }}"
                class="rounded-lg object-cover"
                width="760"
                height="700"
                loading="lazy"
                decoding="async"
                style="width: 760px; height: 700px;"
            >
          </a>
        {% else %}
          <a href="/blogs/collaborations/reebok">
            <img
                    class="rounded-lg"
                    alt="SneakerLab Product 3"
                    src="{{ '760x700.jpg' | asset_url }}"
                    width="760"
                    height="700"
                    loading="lazy"
                    decoding="async"
            />
          </a>
        {% endif %}

        <div class="marquee absolute top-[50%] opacity-0 transition-opacity pointer-events-none">
          <div class="inner relative w-full flex">
            <p class="text-eco-green uppercase whitespace-nowrap text-7xl">
              {% if section.settings.collaborations_large_featured_article %}
                View [{{ section.settings.collaborations_large_featured_article.title }}]
              {% endif %}
            </p>
          </div>
        </div>
      </figure>
      <h3 class="flex-1 w-full uppercase text-sm mt-2">
        {% if section.settings.collaborations_large_featured_article %}
        [ {{ section.settings.collaborations_large_featured_article.title }} ]
        {% endif %}
      </h3>
    </article>

    <!-- Medium Featured Collaboration -->
    <article class="md:col-span-6 relative">
      <div class="flex flex-wrap justify-between">
        <figure class="basis-[49%] md:col-span-3 relative overflow-hidden marquee-wrap">
          {% if section.settings.collaborations_medium_1_featured_article %}
            <a href="{{ section.settings.collaborations_medium_1_featured_article.url }}">
              <img
                      src="{{ section.settings.collaborations_medium_1_featured_article.image.src | image_url }}"
                      alt="{{ section.settings.collaborations_medium_1_featured_article.image.alt }}"
                      class="rounded-lg object-cover"
                      width="370"
                      height="340"
                      loading="lazy"
                      decoding="async"
                      style="width: 370px; height: 340px;"
              >
            </a>
          {% else %}
            <a href="/blogs/collaborations/new-balance">
              <img
                  class="rounded-lg"
                  alt="SneakerLab Product 3"
                  src="{{ '370x340.jpg' | asset_url }}"
                  width="370"
                  height="340"
                  loading="lazy"
                  decoding="async"
              />
            </a>
          {% endif %}

          <div class="marquee absolute top-[45%] opacity-0 transition-opacity pointer-events-none">
            <div class="inner relative w-full flex">
              <p class="text-eco-green uppercase whitespace-nowrap text-7xl">
                {% if section.settings.collaborations_medium_1_featured_article %}
                View [{{ section.settings.collaborations_medium_1_featured_article.title }}]
                {% endif %}
              </p>
            </div>
          </div>
        </figure>
        <figure class="basis-[49%] md:col-span-3 relative overflow-hidden marquee-wrap">
          {% if section.settings.collaborations_medium_2_featured_article %}
            <a href="{{ section.settings.collaborations_medium_2_featured_article.url }}">
              <img
                      src="{{ section.settings.collaborations_medium_2_featured_article.image.src | image_url }}"
                      alt="{{ section.settings.collaborations_medium_2_featured_article.image.alt }}"
                      class="rounded-lg object-cover"
                      width="370"
                      height="340"
                      loading="lazy"
                      decoding="async"
                      style="width: 370px; height: 340px;"
              >
            </a>
          {% else %}
            <a href="/blogs/collaborations/new-balance">
              <img
                      class="rounded-lg"
                      alt="SneakerLab Product 3"
                      src="{{ '370x340.jpg' | asset_url }}"
                      width="370"
                      height="340"
                      loading="lazy"
                      decoding="async"
              />
            </a>
          {% endif %}
          <div class="marquee absolute top-[45%] opacity-0 transition-opacity pointer-events-none">
            <div class="inner relative w-full flex">
              <p class="text-eco-green uppercase whitespace-nowrap text-7xl">
                {% if section.settings.collaborations_medium_2_featured_article %}
                  View [{{ section.settings.collaborations_medium_2_featured_article.title }}]
                {% endif %}
              </p>
            </div>
          </div>
        </figure>
        <h3 class="flex-1 w-full uppercase text-sm mt-2">
          {% if section.settings.collaborations_medium_1_featured_article %}
            [ {{ section.settings.collaborations_medium_1_featured_article.title }} ]
          {% endif %}
        </h3>
      </div>
      <h4 class="hidden md:block text-xl md:text-lg xl:text-3xl lg:absolute lg:bottom-[24%] font-medium">
        {{ section.settings.collaborations_description }}
      </h4>
      <a class="uppercase block mt-16 lg:mt-0 view-all md:bottom-[20px] lg:bottom-[28px] text-xl lg:text-2xl xl:text-3xl" href="{{ section.settings.view_all_link_url }}">
        {{ section.settings.collaborations_view_all_link_text }}
      </a>
    </article>
  </div>
</section>

{% schema %}
{
  "name": "Collaborations Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "collaborations_title",
      "label": "Collaborations Title",
      "default": "Collaborations"
    },
    {
      "type": "text",
      "id": "collaborations_count",
      "label": "Collaborations Count",
      "default": "03"
    },
    {
      "type": "article",
      "id": "collaborations_large_featured_article",
      "label": "Collaborations Large Featured Article"
    },
    {
      "type": "article",
      "id": "collaborations_medium_1_featured_article",
      "label": "Collaborations Medium 1 Featured Article"
    },
    {
      "type": "article",
      "id": "collaborations_medium_2_featured_article",
      "label": "Collaborations Medium 2 Featured Article"
    },
    {
      "type": "richtext",
      "id": "collaborations_description",
      "label": "Collaborations Description"
    },
    {
      "type": "text",
      "id": "collaborations_view_all_link_text",
      "label": "Collaborations Link Text",
      "default": "View All"
    },
    {
      "type": "url",
      "id": "collaborations_view_all_link_url",
      "label": "Collaborations Link URL"
    }
  ]
}
{% endschema %}
