<div class="grid grid-cols-12 gap-2 mt-4">
    <div class="col-span-12">
        <p class="mb-5 text-xs font-medium uppercase md:text-sm">[&nbsp;&nbsp;{{ section.settings.subtitle }}&nbsp;&nbsp;]</p>
    </div>
    <div class="col-span-12 mb-8 md:col-span-6 md:mb-0">
        {% if product.metafields.custom.product_information_image_left %}
            <img
                    class="object-cover mb-3 rounded-lg"
                    src="{{ product.metafields.custom.product_information_image_left | image_url: width: 412, height: 415 }}"
                    width="412"
                    height="415"
                    alt="{{ product.metafields.custom.product_information_image_left.alt | escape }}"
                    loading="lazy"
                    decoding="async"
            >
        {% else %}
            <img class="mb-3 rounded-lg" src="{{ '412x415.jpg' | asset_url }}" width="412" height="415" alt=""
                 loading="lazy" decoding="async">
        {% endif %}

        <h3 class="uppercase max-w-[412px] font-medium leading-[0.95] tracking-tighter text-xl md:text-3xl mb-4">
            {% if product.metafields.custom.prod_info_left_subtitle %}
                {{ product.metafields.custom.prod_info_left_subtitle }}
            {% else %}
                {{ section.settings.left-block-title }}
            {% endif %}
        </h3>
        <p class="text-xs md:text-sm leading-[1.2] max-w-[412px]">
            {% if product.metafields.custom.left-block-text %}
                {{ product.metafields.custom.left-block-text }}
            {% else %}
                {{ section.settings.left-block-text }}
            {% endif %}
        </p>
    </div>
    <div class="col-span-12 md:col-span-6">
        {% if product.metafields.custom.right_large_image %}
            <img
                    style="width: 744px; height: 555px;"
                    class="object-cover mb-3 rounded-lg"
                    alt="{{ product.metafields.custom.right_large_image.alt | escape }}"
                    src="{{ product.metafields.custom.right_large_image | image_url: width: 744, height: 555 }}"
                    width="744"
                    height="555"
                    decoding="async"
                    loading="lazy"
            />
        {% else %}
            <img
                    class="mt-[2.5rem] mb-3 rounded-lg"
                    alt="SneakerLab Product 3"
                    src="{{ '343x360.jpg' | asset_url }}"
                    width="744"
                    height="555"
                    decoding="async"
                    loading="lazy"
            />
        {% endif %}

        <h3 class="mb-4 text-xl font-medium tracking-tighter uppercase leading-[0.95] md:text-3xl">
            {% if product.metafields.custom.right_image_subtitle %}
                {{ product.metafields.custom.right_image_subtitle }}
            {% else %}
                {{ section.settings.right-block-title }}
            {% endif %}
        </h3>
        <p class="text-xs md:text-sm leading-[1.2]">
            {% if product.metafields.custom.right_block_of_text %}
                {{ product.metafields.custom.right_block_of_text }}
            {% else %}
                {{ section.settings.right-block-text }}
            {% endif %}
        </p>
    </div>
    <div class="col-span-12 mt-8 md:col-span-6 md:mt-36">
        <h3 class="text-4xl font-medium uppercase tracking-tighter lg:text-[5rem] leading-[0.95] lg:leading-[0.85]">
            {% if product.metafields.custom.left_smaller_quote_block %}
                {{ product.metafields.custom.left_smaller_quote_block }}
            {% else %}
                {{ section.settings.bottom-block-quote }}
            {% endif %}
        </h3>
    </div>
    <div class="col-span-12 mt-8 md:col-span-6 md:mt-36">
        <div class="grid grid-cols-2 gap-2 md:grid-cols-4">
            {% if product.metafields.custom.right_grid_image_1 %}
                <img
                        style="width: 145px; height: 185px;"
                        class="object-cover mb-3 rounded-lg"
                        alt="{{ product.metafields.custom.right_grid_image_1.alt | escape }}"
                        src="{{ product.metafields.custom.right_grid_image_1 | image_url: width: 145, height: 185 }}"
                        width="145"
                        height="185"
                        decoding="async"
                        loading="lazy"
                />
            {% else %}
                <img
                        class="mb-3 rounded-lg"
                        alt="SneakerLab Product 3"
                        src="{{ '185x145.jpg' | asset_url }}"
                        width="185"
                        height="145"
                        decoding="async"
                        loading="lazy"
                />
            {% endif %}

            {% if product.metafields.custom.small_grid_image_2 %}
                <img
                        style="width: 145px; height: 185px;"
                        class="object-cover mb-3 rounded-lg"
                        alt="{{ product.metafields.custom.small_grid_image_2.alt | escape }}"
                        src="{{ product.metafields.custom.small_grid_image_2 | image_url: width: 145, height: 185 }}"
                        width="145"
                        height="185"
                        decoding="async"
                        loading="lazy"
                />
            {% else %}
                <img
                        class="mb-3 rounded-lg"
                        alt="SneakerLab Product 3"
                        src="{{ '185x145.jpg' | asset_url }}"
                        width="185"
                        height="145"
                        decoding="async"
                        loading="lazy"
                />
            {% endif %}
        </div>
        <p class="text-xs md:text-sm leading-[1.2] max-w-[325px]">
            {% if product.metafields.custom.small_image_grid_sub_paragraph %}
                {{ product.metafields.custom.small_image_grid_sub_paragraph }}
            {% else %}
                {{ section.settings.bottom-block-text }}
            {% endif %}
        </p>
    </div>
</div>

{% schema %}
{
  "name": "Product Information",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Small Title in brackets (Default Product Information)",
      "default": "Product Information"
    },
    {
      "type": "image_picker",
      "id": "left-block-image",
      "label": "Left Block Image"
    },
    {
      "type": "text",
      "id": "left-block-title",
      "label": "Left Block Title"
    },
    {
      "type": "text",
      "id": "left-block-text",
      "label": "Left Block Text"
    },
    {
      "type": "image_picker",
      "id": "right-block-image",
      "label": "Right Block Image"
    },
    {
      "type": "text",
      "id": "right-block-title",
      "label": "Right Block Title"
    },
    {
      "type": "text",
      "id": "right-block-text",
      "label": "Right Block Text"
    },
    {
      "type": "text",
      "id": "bottom-block-quote",
      "label": "Bottom Block Quote"
    },
    {
      "type": "image_picker",
      "id": "bottom-block-image-left",
      "label": "Bottom Block Image Left"
    },
    {
      "type": "image_picker",
      "id": "bottom-block-image-right",
      "label": "Bottom Block Image Right"
    },
    {
      "type": "text",
      "id": "bottom-block-text",
      "label": "Bottom Block Text"
    }
  ]
}
{% endschema %}
