<section>
    <div class="grid grid-cols-12 gap-2 mt-20 mb-10 md:gap-4 xl:container xl:mx-auto md:mb-40">
        <div class="col-span-12 lg:col-span-6">
            <h1 class="text-5xl font-semibold uppercase md:text-8xl">{{ section.settings.heading1 }}</h1>
            <p class="uppercase text-xs max-w-[255px] md:text-sm mt-4 lg:mb-16 lg:my-12 lg:max-w-[161px]">
                [&nbsp;&nbsp;{{ section.settings.subtitle1 }}&nbsp;&nbsp;]
            </p>
        </div>
        <div class="col-span-12 lg:col-span-6">
            <p class="mt-10 mb-10 text-xl lg:text-3xl lg:mb-20 lg:mt-36">
                {{ section.settings.subheading_lg_1 }}
            </p>
        </div>
        <div class="col-span-12 md:col-span-6">

            {% if section.settings.image1 %}
                <img class="rounded-lg lg:max-h-[795px]" src="{{ section.settings.image1 | image_url: width: 760, height: 814 }}" width="760" height="814" alt="{{ section.settings.image1.alt | escape }}" loading="lazy" decoding="async" />
            {% else %}
                <img class="rounded-lg" src="{{ '760x814.jpg' | asset_url }}" width="760" height="814" alt="" loading="lazy" decoding="async"/>
            {% endif %}
        </div>
        <div class="col-span-12 md:col-span-6">
            {% if section.settings.image2 %}
                <img class="rounded-lg lg:max-h-[795px]" src="{{ section.settings.image2 | image_url: width: 760, height: 814 }}" width="760" height="814" alt="{{ section.settings.image2.alt | escape }}" loading="lazy" decoding="async" />
            {% else %}
                <img class="rounded-lg" src="{{ '760x814.jpg' | asset_url }}" width="760" height="814" alt="" loading="lazy" decoding="async"/>
            {% endif %}

            <div class="mt-10 md:mt-16 mb-14">
                <p class="text-xs md:text-sm max-w-[345px]">
                    {{ section.settings.sm_paragraph1 }}
                </p>
                <br />
                <p class="text-xs md:text-sm max-w-[345px]">
                    {{ section.settings.sm_paragraph2 }}
                </p>
            </div>

        </div>
        <div class="col-span-12">
            <span class="block mb-6 text-xs uppercase md:text-sm">[&nbsp;&nbsp;{{ section.settings.subtitle2 }}&nbsp;&nbsp;]</span>
            <h2 class="font-medium text-4xl md:text-7xl uppercase max-w-[1048px] mb-7 md:mb-16">{{ section.settings.heading2 }}</h2>
        </div>
        <div class="col-span-12 md:col-span-6">

            {% if section.settings.image3 %}
                <img class="rounded-lg" src="{{ section.settings.image3 | image_url: width: 412, height: 415 }}" width="412" height="415" alt="{{ section.settings.image3.alt | escape }}" loading="lazy" decoding="async" />
            {% else %}
                <img class="rounded-lg" src="{{ '412x415.jpg' | asset_url }}" width="412" height="415" alt="" loading="lazy" decoding="async" />
            {% endif %}

            
            <a data-trigger-modal-1 class="inline-flex items-center justify-start mt-4 text-sm transition-all play-video hover:opacity-50 focus:opacity-50" role="button" aria-controls="modal" aria-expanded="false" href="#">
                <svg class="mr-2" width="8" height="10" viewbox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 5L0.5 9.33013L0.5 0.669872L8 5Z" fill="white" />
                </svg>
                Play video
            </a>
        </div>
        <div class="col-span-12 md:col-span-6">
            <h3 class="mt-5 mb-10 text-xl lg:text-3xl md:mt-0">
                {{ section.settings.subheading_lg_2 }}
            </h3>
            <br />
            <p class="text-xs md:text-sm max-w-[345px]">
                {{ section.settings.sm_paragraph3 }}
            </p>
            <br />
            <p class="text-xs md:text-sm max-w-[345px]">
                {{ section.settings.sm_paragraph4 }}
            </p>
        </div>
        <div class="col-span-12 mt-16 md:mt-32">
            <span class="block mb-6 text-xs uppercase md:text-sm">[&nbsp;&nbsp;{{ section.settings.subtitle3 }}&nbsp;&nbsp;]</span>
            <h2 class="font-medium mb-5 text-4xl md:text-7xl uppercase max-w-[1048px]">
                {{ section.settings.heading3 }}
            </h2>
        </div>
        <div class="relative col-span-12 lg:col-span-6">
            <div class="left-0 lg:absolute bottom-32">
                <p class="text-xs md:text-sm max-w-[345px]">
                    {{ section.settings.sm_paragraph5 }}
                </p>
                <br />
                <p class="text-xs md:text-sm max-w-[345px]">
                    {{ section.settings.sm_paragraph6 }}
                </p>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-6">
            <p class="mt-10 mb-10 text-xl md:text-3xl md:mb-20 md:mt-36">
                {{ section.settings.subheading_lg_3 }}
            </p>
            {% if section.settings.image4 %}
                <img class="rounded-lg" src="{{ section.settings.image4 | image_url: width: 760, height: 814 }}" width="760" height="814" alt="{{ section.settings.image4.alt | escape }}" loading="lazy" decoding="async" />
            {% else %}
                <img class="rounded-lg" src="{{ '760x814.jpg' | asset_url }}" width="760" height="814" alt="" loading="lazy" decoding="async" />
            {% endif %}

            <a data-trigger-modal-2 class="inline-flex items-center justify-start mt-4 text-sm transition-all play-video hover:opacity-50 focus:opacity-50" role="button" aria-controls="modal" aria-expanded="false" href="#">
                <svg class="mr-2" width="8" height="10" viewbox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 5L0.5 9.33013L0.5 0.669872L8 5Z" fill="white" />
                </svg>
                Play video
            </a>
            <p class="mt-16">
                <a class="text-3xl font-medium uppercase" href="{{ section.settings.cta_link }}">
                    {{ section.settings.cta_text }}
                </a>
            </p>
        </div>
    </div>
</section>

<div id="modal-1" aria-hidden="true" data-modal-1 class="fixed flex items-center justify-center invisible opacity-0 pointer-events-none z-50 left-0 top-0 w-full h-full overflow-auto bg-[#fff]/90 backdrop-blur" role="dialog">
    <div class="w-4/5 p-5 mx-auto text-center">
        {% if section.settings.video_type_1 == 'YouTube' %}
            <lite-youtube class="mx-auto mt-[35vh] w-full lg:mt-8 lg:max-w-[90%]" videoid="{{ section.settings.video_id_1 }}"></lite-youtube>
        {% endif %}
        {% if section.settings.video_type_1 == 'Vimeo' %}
            <lite-vimeo class="mx-auto mt-[35vh] w-full lg:mt-16 lg:max-w-[90%]" videoid="{{ section.settings.video_id_1 }}"></lite-vimeo>
        {% endif %}
    </div>
    <a data-close-modal-1 aria-controls="modal-1" class="uppercase absolute text-3xl right-4 top-4 text-[#000]" href="#" role="button">Close</a>
</div>

<div id="modal-2" aria-hidden="true" data-modal-2 class="fixed flex items-center justify-center invisible opacity-0 pointer-events-none z-50 left-0 top-0 w-full h-full overflow-auto bg-[#fff]/90 backdrop-blur" role="dialog">
    <div class="w-4/5 p-5 mx-auto text-center">
        {% if section.settings.video_type_2 == 'YouTube' %}
            <lite-youtube class="mx-auto mt-[35vh] w-full lg:mt-8 lg:max-w-[90%]" videoid="{{ section.settings.video_id_2 }}"></lite-youtube>
        {% endif %}
        {% if section.settings.video_type_2 == 'Vimeo' %}
            <lite-vimeo class="mx-auto mt-[35vh] w-full lg:mt-16 lg:max-w-[90%]" videoid="{{ section.settings.video_id_2 }}"></lite-vimeo>
        {% endif %}
    </div>
    <a data-close-modal-2 aria-controls="modal-2" class="uppercase absolute text-3xl right-4 top-4 text-[#000]" href="#" role="button">Close</a>
</div>


<script>
    const Modal1 = () => {
        const triggers = document.querySelectorAll('[data-trigger-modal-1]')
        const close = document.querySelector('[data-close-modal-1]')
        const modal = document.querySelector('[data-modal-1]')
        const about_url = '/pages/about'

        console.log(window.location.pathname)

        triggers && triggers.forEach(trigger => {
            trigger.addEventListener('click', (e) => {
                e.preventDefault()

                if (!modal.classList.contains('modal-active')) {
                    modal.classList.add('modal-active')
                    document.body.style.overflow = 'hidden'
                    e.target.setAttribute('aria-expanded', 'true')
                    modal.setAttribute('aria-hidden', 'false')
                } else {
                    modal.classList.remove('modal-active')
                    document.body.style.overflow = 'auto'
                    e.target.setAttribute('aria-expanded', 'false')
                    modal.setAttribute('aria-hidden', 'true')
                }
            })

            if (window.location.pathname === about_url) {
                modal.classList.add('page-inverted')
            }   else {
                modal.classList.add('bg-white')
            }

            document.addEventListener('mousedown', (e) => {
                if (!modal.contains(e.target) && e.target !== trigger) {
                    modal.classList.remove('modal-active')
                    document.body.style.overflow = 'auto'
                    trigger.setAttribute('aria-expanded', 'false')
                    modal.setAttribute('aria-hidden', 'true')
                }
            })

            close && close.addEventListener('click', (e) => {
                e.preventDefault()
                modal.classList.remove('modal-active')
                document.body.style.overflow = 'auto'
                trigger.setAttribute('aria-expanded', 'false')
                modal.setAttribute('aria-hidden', 'true')
            })

            document.addEventListener('keydown', (e) => {
                if (e.key === 'Escape') {
                    modal.classList.remove('modal-active')
                    document.body.style.overflow = 'auto'
                    trigger.setAttribute('aria-expanded', 'false')
                    modal.setAttribute('aria-hidden', 'true')
                }
            })
        })
    }

    Modal1()

    const Modal2 = () => {
        const triggers = document.querySelectorAll('[data-trigger-modal-2]')
        const close = document.querySelector('[data-close-modal-2]')
        const modal = document.querySelector('[data-modal-2]')
        const about_url = '/pages/about'

        console.log(window.location.pathname)

        triggers && triggers.forEach(trigger => {
            trigger.addEventListener('click', (e) => {
                e.preventDefault()

                if (!modal.classList.contains('modal-active')) {
                    modal.classList.add('modal-active')
                    document.body.style.overflow = 'hidden'
                    e.target.setAttribute('aria-expanded', 'true')
                    modal.setAttribute('aria-hidden', 'false')
                } else {
                    modal.classList.remove('modal-active')
                    document.body.style.overflow = 'auto'
                    e.target.setAttribute('aria-expanded', 'false')
                    modal.setAttribute('aria-hidden', 'true')
                }
            })

            if (window.location.pathname === about_url) {
                modal.classList.add('page-inverted')
            }   else {
                modal.classList.add('bg-white')
            }

            document.addEventListener('mousedown', (e) => {
                if (!modal.contains(e.target) && e.target !== trigger) {
                    modal.classList.remove('modal-active')
                    document.body.style.overflow = 'auto'
                    trigger.setAttribute('aria-expanded', 'false')
                    modal.setAttribute('aria-hidden', 'true')
                }
            })

            close && close.addEventListener('click', (e) => {
                e.preventDefault()
                modal.classList.remove('modal-active')
                document.body.style.overflow = 'auto'
                trigger.setAttribute('aria-expanded', 'false')
                modal.setAttribute('aria-hidden', 'true')
            })

            document.addEventListener('keydown', (e) => {
                if (e.key === 'Escape') {
                    modal.classList.remove('modal-active')
                    document.body.style.overflow = 'auto'
                    trigger.setAttribute('aria-expanded', 'false')
                    modal.setAttribute('aria-hidden', 'true')
                }
            })
        })
    }

    Modal2()
</script>

{% schema %}
{
  "name": "About - Page",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "heading1",
      "label": "Heading 1",
      "default": "About"
    },
    {
      "type": "text",
      "id": "subtitle1",
      "label": "Sub Title 1",
      "default": "About the SneakerLab team and what we do."
    },
    {
      "type": "text",
      "id": "subheading_lg_1",
      "label": "Subheading Large 1",
      "default": "At Sneaker LAB we understand the power of a fresh pair of sneakers. We took our passion for sneaker culture and matched it with science, creating a natural cleaning solution, that works."
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1 (recommended size w: 760px, h: 812px)"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2 (recommended size w: 760px, h: 812px)"
    },
    {
      "type": "text",
      "id": "sm_paragraph1",
      "label": "Small Paragraph 1",
      "default": "Our advanced environmentally friendly products promise to CLEAN | CARE | PROTECT your sneakers. We are a proudly South African brand taking on a fresh approach to shoe care to more than 60 countries and counting."
    },
    {
      "type": "text",
      "id": "sm_paragraph2",
      "label": "Small Paragraph 2",
      "default": "We find our inspiration in minimalist street-culture and the people who create it and are proud to be a part of celebrating and supporting communities and Green initiatives."
    },
    {
      "type": "text",
      "id": "subtitle2",
      "label": "Sub Title 2",
      "default": "Our Philosophy"
    },
    {
      "type": "text",
      "id": "heading2",
      "label": "Heading 2",
      "default": "Greener and Cleaner BioTechnology"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3 (recommended size w: 412px, h: 415px)"
    },
    {
      "type": "select",
      "id": "video_type_1",
      "label": "First Modal Video Type (YouTube or Vimeo)",
      "options": [
        {
          "value": "YouTube",
          "label": "YouTube"
        },
        {
          "value": "Vimeo",
          "label": "Vimeo"
        }
      ],
      "default": "YouTube"
    },
    {
      "type": "text",
      "id": "video_id_1",
      "label": "First Modal Video ID"
    },
    {
      "type": "text",
      "id": "subheading_lg_2",
      "label": "Subheading Large 2",
      "default": "Sneaker LAB is built on a Green philosophy and prides itself in bettering all that we do by reducing our impact and being environmentally friendly. This is part of our mission."
    },
    {
      "type": "text",
      "id": "sm_paragraph3",
      "label": "Small Paragraph 3",
      "default": "We are also officially Green Tag certified, one of the world's most robust, trusted and widely recognized ecolabels. Our 100% biodegradable solutions and recyclable packaging have been independently tested and Green Tag certified."
    },
    {
      "type": "text",
      "id": "sm_paragraph4",
      "label": "Small Paragraph 4",
      "default": "We’ve taken our cue from nature and harnessed the same beneficial bacteria that is used to biodegrade organic waste to create our cleaning formula. This biotechnology cleans at a microscopic level, continuing to work long after application, leaving your sneakers cleaner for longer."
    },
    {
      "type": "text",
      "id": "subtitle3",
      "label": "Subtitle 3",
      "default": "Giving Back"
    },
    {
      "type": "text",
      "id": "heading3",
      "label": "Heading 3",
      "default": "Both people and the environment are important to us"
    },
    {
      "type": "text",
      "id": "subheading_lg_3",
      "label": "Subheading Large 3",
      "default": "We want to extend our culture of care beyond sneakers by giving back to both communities and the planet. To date, we’ve partnered with the non-profit community project, Gold Youth Development Agency, to uplift and empower South African youth."
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Image 4 (recommended size w: 760px, h: 812px)"
    },
    {
      "type": "text",
      "id": "sm_paragraph5",
      "label": "Small Paragraph 5",
      "default": "Moving forward we’re looking for new partnerships and ways to make a difference. To give back on a bigger scale, we will be working with both Green initiatives and community projects across the globe."
    },
    {
      "type": "text",
      "id": "sm_paragraph6",
      "label": "Small Paragraph 6",
      "default": "Sneaker LAB contributes a portion of every unit sold in support of the initiative’s vision to uplift African youth. This empowering NGO aims to bring about sustained community change through positive peer to peer programs. With peer education at the core of their model, gold builds young leaders with character and purpose, who in turn will have an impact in their community."
    },
    {
      "type": "select",
      "id": "video_type_2",
      "label": "Second Modal Video Type (YouTube or Vimeo)",
      "options": [
        {
          "value": "YouTube",
          "label": "YouTube"
        },
        {
          "value": "Vimeo",
          "label": "Vimeo"
        }
      ],
      "default": "YouTube"
    },
    {
      "type": "text",
      "id": "video_id_2",
      "label": "First Modal Video ID"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Call To Action text",
      "default": "Get Involved"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Call To Action link"
    }
  ]
}
{% endschema %}
