{% comment %}
    Adding section for Sneaker Lab header
{% endcomment %}
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<a class="sr-only focus:not-sr-only" href="#main-content">Skip to Main Content</a>
<header aria-label="Site Header" role="banner" class="sticky bg-transparent z-10 top-[-1px] py-3 transition-all">
    <div class="menu-overlay"></div>
    <div class="flex flex-wrap justify-between px-4 lg:px-5 xl:container xl:mx-auto">
        <nav class="basis-2/6">
            <ul class="flex">
                <li class="inline-block text-sm lg:hidden">
                    <a id="mobile-navigation-trigger" aria-controls="mobile-navigation" aria-expanded="false" href="#mobile-navigation" role="button">Menu</a>
                </li>
                <li class="mr-6 hidden text-sm lg:inline-block"><a href="/collections/all/">Shop</a></li>
                <li class="mr-6 text-sm hidden lg:inline-block"><a href="/blogs/how-tos/">How To</a></li>
                <li class="text-sm hidden lg:inline-block"><a href="/blogs/collaborations/">Collaborations</a></li>
            </ul>
        </nav>
        <div class="flex justify-center basis-2/6">
            <a class="logo hover:opacity-50 focus:opacity-50 transition-all" aria-label="SneakerLab" href="/">
                <svg width="24" height="24" class="logo block lg:hidden" fill="none" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 25 24">
                    <path
                            d="M19.754 17.572a.288.288 0 0 0-.253-.153h-1.734v-.718c0-.22-.055-.436-.161-.629l-3.477-7.084a.348.348 0 0 1-.026-.118V6.638c0-.077.029-.15.08-.207l.411-.422.013-.015a.31.31 0 0 0 .08-.208v-.577H9.721v.582c0 .078.03.152.082.209l.013.015.407.418c.052.057.08.13.08.207v2.232c0 .04-.009.08-.026.117l-3.482 7.09a.904.904 0 0 0-.03.062v.017a1.302 1.302 0 0 0 1.181 1.847h9.25v1.744a.287.287 0 0 0 .153.253v.625h.272v-.625a.288.288 0 0 0 .152-.253v-1.744h1.734a.289.289 0 0 0 .253-.15h.625v-.272l-.631-.011Z"
                            fill="#000" />
                    <path
                            d="M24.5 24H5.537A5.044 5.044 0 0 1 .5 18.96V0h18.961A5.044 5.044 0 0 1 24.5 5.038V24ZM1.127.623v18.34a4.417 4.417 0 0 0 4.41 4.412h18.336V5.035a4.417 4.417 0 0 0-4.41-4.412H1.127Z"
                            fill="#000" />
                </svg>
                <svg class="logo lg:block hidden" width="144" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 145 24">
                    <path
                            d="M19.254 17.572a.288.288 0 0 0-.253-.153h-1.734v-.718c0-.22-.055-.436-.161-.629l-3.477-7.084a.348.348 0 0 1-.026-.118V6.638c0-.077.029-.15.08-.207l.411-.422.013-.015a.31.31 0 0 0 .08-.208v-.577H9.221v.582c0 .078.03.152.082.209l.013.015.407.418c.052.057.08.13.08.207v2.232c0 .04-.009.08-.026.117l-3.482 7.09a.904.904 0 0 0-.03.062v.017a1.302 1.302 0 0 0 1.181 1.847h9.25v1.744a.287.287 0 0 0 .153.253v.625h.272v-.625a.288.288 0 0 0 .152-.253v-1.744h1.734a.289.289 0 0 0 .253-.15h.625v-.272l-.631-.011Z"
                            fill="#000" />
                    <path
                            d="M24 24H5.037A5.044 5.044 0 0 1 0 18.96V0h18.961A5.044 5.044 0 0 1 24 5.038V24ZM.627.623v18.34a4.417 4.417 0 0 0 4.41 4.412h18.336V5.035a4.417 4.417 0 0 0-4.41-4.412H.627ZM39.289 7.95a4 4 0 0 0-1.475-1.002 5.437 5.437 0 0 0-2.1-.373c-1.156 0-1.997.216-2.525.646a2.14 2.14 0 0 0-.792 1.76c-.012.327.06.651.21.943.158.268.383.49.654.648.353.207.732.366 1.128.474.461.134 1.005.268 1.63.402.636.13 1.264.293 1.882.491.507.158.99.388 1.429.685.377.255.686.596.903.993.223.453.33.953.312 1.457a3.243 3.243 0 0 1-.35 1.55 3.073 3.073 0 0 1-.976 1.094 4.37 4.37 0 0 1-1.478.65 8.068 8.068 0 0 1-1.898.211 7.853 7.853 0 0 1-5.253-1.884l.645-1.04c.253.26.535.492.839.692.341.227.706.42 1.087.575a7.06 7.06 0 0 0 2.72.518c1.043 0 1.858-.186 2.445-.558.586-.372.874-.93.863-1.676a1.925 1.925 0 0 0-.248-1.012 2.136 2.136 0 0 0-.753-.71 5.262 5.262 0 0 0-1.233-.52 26.352 26.352 0 0 0-1.716-.437 20.018 20.018 0 0 1-1.805-.493 4.81 4.81 0 0 1-1.307-.638 2.486 2.486 0 0 1-.804-.93 2.962 2.962 0 0 1-.267-1.321 3.62 3.62 0 0 1 .34-1.595c.222-.461.555-.862.97-1.166a4.61 4.61 0 0 1 1.474-.713 6.73 6.73 0 0 1 1.88-.245 6.458 6.458 0 0 1 2.34.398 6.231 6.231 0 0 1 1.851 1.103L39.29 7.95ZM42.644 7.892v10.573h-1.29V5.531h.995l8.66 10.774V5.541h1.29v12.924h-1.128L42.644 7.892ZM62.896 17.336v1.13h-8.79V5.53h8.625v1.117h-7.335v4.671h6.394v1.075h-6.394v4.942h7.5ZM68.647 5.531h1.087l5.438 12.944h-1.364l-1.693-4.047h-5.883l-1.676 4.046h-1.382l5.473-12.943Zm3.17 7.894L69.18 7.02l-2.672 6.398 5.307.007ZM75.943 18.465V5.541h1.29v7.51l7.206-7.52h1.42l-5.345 5.678 5.621 7.256h-1.42l-5.012-6.511-2.47 2.534v3.974l-1.29.003ZM95.846 17.336v1.13h-8.79V5.53h8.624v1.117h-7.335v4.671h6.395v1.075h-6.395v4.942h7.5ZM96.807 18.466V5.532h5.527a3.435 3.435 0 0 1 1.556.346c.464.23.88.546 1.226.93.344.383.616.824.801 1.302.188.47.284.97.286 1.476.002.46-.07.919-.212 1.358-.134.417-.332.81-.589 1.166a3.59 3.59 0 0 1-.912.877c-.363.239-.77.402-1.198.481l3.197 4.996h-1.456l-3.079-4.776h-3.857v4.776l-1.29.002Zm1.29-5.907h4.275c.362.004.72-.08 1.042-.246.312-.163.585-.39.801-.666a3.37 3.37 0 0 0 .704-2.063 3.137 3.137 0 0 0-.775-2.047 2.733 2.733 0 0 0-.849-.638 2.307 2.307 0 0 0-1.034-.251h-4.164v5.91ZM111.697 18.465V5.531h1.29v11.814h7.556v1.13l-8.846-.01ZM126.864 5.531h1.087l5.437 12.944h-1.363l-1.693-4.047h-5.883l-1.676 4.046h-1.382l5.473-12.943Zm3.169 7.885L127.4 7.02l-2.673 6.398 5.306-.002ZM144.003 15.13a3.06 3.06 0 0 1-.296 1.34c-.191.4-.461.759-.793 1.056a3.541 3.541 0 0 1-1.161.694 4.054 4.054 0 0 1-1.418.245h-6.165V5.532h6.302c.425-.007.844.09 1.221.282.362.188.681.445.941.758.261.314.465.672.6 1.056.139.383.211.787.212 1.195a3.38 3.38 0 0 1-.498 1.795 3.05 3.05 0 0 1-1.383 1.211 3.281 3.281 0 0 1 1.779 1.223c.44.604.671 1.333.659 2.078Zm-8.552-8.495v4.776h4.497c.309.002.615-.067.893-.201.27-.128.511-.308.709-.529a2.486 2.486 0 0 0 .627-1.66 2.706 2.706 0 0 0-.157-.93 2.247 2.247 0 0 0-.442-.757 2.174 2.174 0 0 0-.673-.5 1.869 1.869 0 0 0-.846-.186l-4.608-.013Zm7.262 8.275a2.64 2.64 0 0 0-.168-.93 2.39 2.39 0 0 0-1.189-1.33 1.95 1.95 0 0 0-.893-.209h-5.012v4.903h4.89a2.19 2.19 0 0 0 .94-.2c.283-.13.538-.313.753-.537a2.413 2.413 0 0 0 .679-1.697Z"
                            fill="#000" />
                </svg>
            </a>
        </div>
        <nav class="flex justify-end basis-2/6">
            <ul class="flex">
                <li class="mr-6 text-sm hidden lg:inline-block"><a href="#search" aria-expanded="false" aria-controls="search" data-id="js-trigger-search" role="button">Search</a></li>
                <li class="mr-6 text-sm xl:hidden inline-block scale-75">
                    <a aria-label="Search Sneaker Lab" data-id="js-trigger-search" href="#search" role="button" aria-expanded="false" aria-controls="search">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                  clip-rule="evenodd" />
                        </svg>
                    </a>
                </li>
                <li class="mr-6 text-sm hidden lg:inline-block">
                    {%- if customer -%}
                        <a
                            aria-expanded="false"
                            aria-controls="account-modal"
                            role="button"
                            data-logged-in="{%- if customer -%}true{%- else -%}false{%- endif -%}"
                            href="{{ routes.account_url }}"
                        >
                            My Account
                        </a>
                    {%- else -%}
                        <a
                            data-id="js-account-trigger"
                            aria-expanded="false"
                            aria-controls="account-modal"
                            role="button"
                            data-logged-in="{%- if customer -%}true{%- else -%}false{%- endif -%}"
                        >
                            Account
                        </a>
                    {%- endif -%}
                </li>
                <li class="text-sm">
                    <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
                        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                        {%- if cart != empty -%}
                            <div class="cart-count-bubble">
                                {%- if cart.item_count < 300 -%}
                                    <span aria-hidden="true">Cart<sup id="cart-count">{{ cart.item_count }}</sup></span>
                                {%- endif -%}
                                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                            </div>
                        {%- endif -%}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="relative w-full">
            {% render 'header-search' %}
        </div>
    </div>
    {% render 'header-navigation' %}
    {% render 'account-modal' %}
</header>

{%- render 'cart-notification' -%}
