{% if section.settings.enable_ticker %}
  {{ 'odometer-theme-minimal.css' | asset_url | stylesheet_tag }}
  {{ 'odometer.min.js' | asset_url | script_tag }}
  <div class="ticker-wrapper">
    <input hidden id="stat-1" value="{{ section.settings.stat-1-number }}">
    <div class="odometer1" style="display: inline-block"></div>
    <div>{{ section.settings['stat-1-text'] }}</div>

    <div class="stats-subtitle-message">
      {{ section.settings['subtitle-message'] }}
    </div>
  </div>

  <script>
     let odometer1 = document.querySelector('.odometer1');

    // var el = document.querySelector('.odometer1');
    window.odometerOptions = {
      format: '(,ddd)',
      animation: 'count'
    }

    od = new Odometer({
      el: odometer1,
    });

    setTimeout(function() {
      let stat1 = document.querySelector('#stat-1');
      let odometer1 = document.querySelector('.odometer1');
      odometer1.innerHTML = stat1.value
    }, 200)
  </script>
{% endif %}

{% schema %}
{
  "name": "Ticker Settings",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_ticker",
      "label": "Enable Ticker",
      "default": false
    },
    {
      "type": "text",
      "id": "subtitle-message",
      "label": "Sub Title Message"
    },
    {
      "type": "text",
      "id": "stat-1-text",
      "label": "Stat 1 Text (Right Hand Side)"
    },
    {
      "type": "number",
      "id": "stat-1-number",
      "label": "Stat 1 Number for ticker"
    },
    {
      "type": "text",
      "id": "stat-2-text",
      "label": "Stat 2 Text (Right Hand Side)"
    },
    {
      "type": "number",
      "id": "stat-2-number",
      "label": "Stat 2 Number for ticker"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
