{% if section.settings.enable_ticker %}
  {{ 'odometer-theme-minimal.css' | asset_url | stylesheet_tag }}
  {{ 'odometer.min.js' | asset_url | script_tag }}
  <div class="ticker-wrapper">
    {% for block in section.blocks %}
      <input hidden id="{{ block.settings.stat-text }}" value="{{ block.settings.stat-number }}">
      <div class="odometer1" style="display: inline-block"></div>
      <div>{{ block.settings['stat-text'] }}</div>
    {% endfor %}

    <div class="stats-subtitle-message">
      {{ section.settings['subtitle-message'] }}
    </div>
  </div>

  <script>
    let odometer1 = document.querySelector('.odometer1');

    document.addEventListener('DOMContentLoaded', function () {
      let mobileMenuButton = document.querySelector('#mobile-navigation-trigger');

      mobileMenuButton.addEventListener('click', function () {
        let odometer1 = document.querySelector('.ticker-wrapper');
        odometer1.classList.toggle('hidden');
      });
    });

    // var el = document.querySelector('.odometer1');
    window.odometerOptions = {
      format: '(,ddd)',
      animation: 'count'
    }

    od = new Odometer({
      el: odometer1,
    });

    setTimeout(function() {
      let stat1 = document.querySelector('#stat-1');
      let odometer1 = document.querySelector('.odometer1');
      odometer1.innerHTML = stat1.value
    }, 200)
  </script>
{% endif %}

{% schema %}
{
  "name": "Ticker Settings",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_ticker",
      "label": "Enable Ticker",
      "default": false
    },
    {
      "type": "text",
      "id": "subtitle-message",
      "label": "Sub Title Message"
    }
  ],
  "blocks": [
     {
       "name": "Statistic",
       "type": "stat",
       "settings": [
         {
           "type": "text",
           "id": "stat-text",
           "label": "Stat Text"
         },
         {
           "type": "number",
          "id": "stat-number",
          "label": "Stat Number"
         }
       ]
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
