{% if section.settings.enable_ticker %}
  {{ 'odometer-theme-minimal.css' | asset_url | stylesheet_tag }}
  {{ 'odometer.min.js' | asset_url | script_tag }}
  <div class="ticker-wrapper">
    {% for block in section.blocks %}
      <input hidden id="stat-{{ forloop.index }}" value="{{ block.settings.stat-number }}">
      <div data-target="stat-{{ forloop.index }}" class="odometer" style="display: inline-block"></div>
      <div>{{ block.settings['stat-text'] }}</div>
    {% endfor %}

    <div class="stats-subtitle-message">
      {{ section.settings['subtitle-message'] }}
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let mobileMenuButton = document.querySelector('#mobile-navigation-trigger');

      mobileMenuButton.addEventListener('click', function () {
        let odometer1 = document.querySelector('.ticker-wrapper');
        odometer1.classList.toggle('hidden');
      });
    });

    window.odometerOptions = {
      format: '(,ddd)',
      animation: 'count'
    }

    let odometers = document.querySelectorAll('.odometer');
    odometers.forEach((odometer) => {
      new Odometer({
        el: odometer
      });
    });

    setTimeout(function() {
      let odometers = document.querySelectorAll('.odometer');

      odometers.forEach((odometer) => {
        let target = odometer.dataset.target
        console.log(odometer.dataset.target);
        let stat = document.getElementById('#' + target);

        console.log(stat);

        odometer.innerHTML = stat.value;
      });
    }, 200)
  </script>
{% endif %}

{% schema %}
{
  "name": "Ticker Settings",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_ticker",
      "label": "Enable Ticker",
      "default": false
    },
    {
      "type": "text",
      "id": "subtitle-message",
      "label": "Sub Title Message"
    }
  ],
  "max_blocks": 6,
  "blocks": [
     {
       "name": "Statistic",
       "type": "stat",
       "settings": [
         {
           "type": "text",
           "id": "stat-text",
           "label": "Stat Text"
         },
         {
           "type": "number",
          "id": "stat-number",
          "label": "Stat Number"
         }
       ]
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
